@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;600;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    font-family: Mulish, sans-serif;
    background-color: #ececec;
}

.close-btn {
    color: red;
    position: relative;
    top: -3rem;
    right: -7.5rem;
    border: none;
}

.close-btn:hover {
    cursor: pointer;
}



.container {
    margin: 30px auto 20px auto;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    border: 8px solid #ececec;
    margin: 10px auto;
    outline: none;
    box-shadow: -10px -10px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 15px 0 rgba(70, 70, 70, 0.12);

}

.note-animation-container {
    display: flex;
    gap: 10px;
    margin: 15px auto;
}

.left-note,
.right-note ,
.answer-status {
    height: 50px;
    width: 50px;
    background-color: #ececec;
    border-radius: 50%;
    transition: ease-in-out .3s;
    border: 8px solid #ececec;
    margin: 10px auto;
    outline: none;
    box-shadow: -10px -10px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 15px 0 rgba(70, 70, 70, 0.12);

}

.bottom-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option-container {
    margin: 35px auto;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    border: 8px solid #ececec;
    margin: 10px auto;
    outline: none;
    box-shadow: -10px -10px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 15px 0 rgba(70, 70, 70, 0.12);

}

.option-btn-row {
    display: flex;
    justify-content: space-evenly;
}

.option-btn {
    background-color: #ececec;
    font-family: Mulish, Arial, sans-serif;
    font-size: 1.3rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid #ececec;
    margin: 10px auto;
    outline: none;
    box-shadow: -10px -10px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 15px 0 rgba(70, 70, 70, 0.12);
    transition: ease-in-out .3s;
}

.option-btn:focus {
    box-shadow: 
    -10px -10px 15px 0 rgba(255, 255, 255, 0.5), 
    10px 10px 15px 0 rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px 0 rgba(255, 255, 255, 0.5), 
    inset 10px 10px 15px 0 rgba(70, 70, 70, 0.12);  
}

.option-btn:hover {
    filter: brightness(94%);
    cursor: pointer;
}


.play-btn,
.score-box,
.answer-box {
    margin: 0 auto;
    width: 210px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ececec;
    font-family: Mulish, Arial, sans-serif;
    font-size: 20px;
    transition: ease-in-out .3s;
    border: 8px solid #ececec;
    margin: 10px auto;
    outline: none;
    box-shadow: -10px -10px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 15px 0 rgba(70, 70, 70, 0.12);

}



.play-btn:hover,
.answer-btn:hover {
    filter: brightness(92%);
    cursor: pointer;
}


.answer-status {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
}

.correct, 
.incorrect {
    font-size: 1.3rem;
    visibility: hidden; 
}

.correct.active, .incorrect.active  {
    visibility: visible;
}


@media (max-width: 768px) {
    .container, .option-container {
        width: 88vw;
    }
}